<mat-card>
  <h2>Acceso</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        autocomplete="username"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        autocomplete="current-password"
      />
    </mat-form-field>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || loading"
      >
        <mat-spinner
          *ngIf="loading"
          diameter="20"
          style="margin-right: 8px"
        ></mat-spinner>
        <span *ngIf="!loading">Entrar</span>
      </button>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="router.navigate(['/sign-in'])"
      >
        Crear cuenta
      </button>
    </div>
  </form>
</mat-card>
