<mat-card>
  <h2>Acceso</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        autocomplete="username"
      />
      <mat-error *ngIf="form.controls['email'].hasError('required')"
        >El email es obligatorio</mat-error
      >
      <mat-error *ngIf="form.controls['email'].hasError('email')"
        >Formato de email no válido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        autocomplete="current-password"
      />
      <mat-error *ngIf="form.controls['password'].hasError('required')"
        >La contraseña es obligatoria</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || loading"
    >
      <mat-spinner
        *ngIf="loading"
        diameter="20"
        style="margin-right: 8px"
      ></mat-spinner>
      <span *ngIf="!loading">Entrar</span>
    </button>
  </form>
</mat-card>
