:host {
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 25px;
}

.warn-msg {
  background-color: antiquewhite;
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
